<div class="content" style="background: #000000bd;padding: 2%;margin-top:2%;margin-left:15%;width: 70% !important;border-radius: 10px;">
    <div class="image">
        <img src="{{product.image}}" style="box-shadow: 0px 0px 10px 5px black;height:70vh;border-radius: 10px;">
    </div>
    <div class="info">

    </div>
</div>